<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :image_link %><br>
    <%= form.text_field :image_link %>
  </p>

  <p>
    <%= form.label :rule_type %>:
    <%= form.collection_select :rule_type, BadgeDepartmentService::RULES, :first, :first, prompt: true %>
  </p>

  <p>
    <%= form.label :rule_value %>:
    <%= form.text_field :rule_value%>
  </p>

  <p><%= form.submit %></p>
<% end %>