<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <p>
  	<%= form.label :mail %><br>
  	<%= form.text_field :mail, id: :user_email %>
  </p>

    <p>
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname, id: :user_nickname %>
  </p>

  <p>
  	<%= form.label :password %><br>
  	<%= form.password_field :password, id: :user_password %>
  </p>

  <p>
  	<%= form.label :password_confirmation %><br>
  	<%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <p><%= form.submit %></p>
<% end %>